<p id="notice"><%= notice %></p>

<div class="container">
<h1 class='title is-1 notification is-primary'>Users</h1>

<table class= 'table'>
  <thead>
    <tr>
      <th colspan="2">List of users</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.fullname %></td>
        <td><%= link_to 'View User', user %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<p class='button new_user'><%= link_to 'New User', new_user_path %></p>
</div>